* {
  font-family: "Roboto", sans-serif;
}

section {
  float: left;
  width: 63%;
}

aside {
  float: right;
  width: 30%;
}

footer {
  clear: both;
}

img.tengah {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
